doctype html
html
	head
		title Affixate
		meta(http-equiv='pragma', content='no-cache')
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		link(href='css/reset.css', rel='stylesheet')
		link(href='css/style.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	body
		header
			.container.button-login
				a(href="#") Log In
			nav.top-nav
				.container
					.top-nav-bg
					a(href="#"): img.logo-top(src="/images/logo-top.png")
					ul
						li: a(href="#") Publishers
						li: a(href="#") Advertisers
						li: a(href="#") Team
						li: a(href="#") Contact
			.header-slogan-1 We know
			.header-slogan-2 how get to the top
			.header-slogan-3 we provide traffic and monetization solutions for any
				br
				| country and any device
		main
			.container
				section#promo-block
					.row
						.promo-block-item.promo-block-item-left
							h3 A D V E R T I S E R
							h4 Receive new customers, installs, or leads
							p Do you have a product to sell? We provide an easy to user platform for performance-based advertising for you. We expect our advertisers to see higher ROI's and faster results then can be found elsewhere. We don't rest until you are happy and successful!
							a.promo-block-btn(href="#") Advertise with us
						.promo-block-item.promo-block-item-right
							h3 P u b l i s h e r
							h4 Earn more from your game, app or website
							p We firmly believe that our success is built off the success of our Affiliates. All affiliates are treated equally! Wether you are a seasoned vet or brand new to affiliate marketing. We work closely with our Affiliates and Advertisers to achieve one common goal - phenomenal success.
							a.promo-block-btn(href="#") Advertise with us
					img.promo-bg(src="/images/bg.png")
				section#content
					.content-item
						h3 Who 
							span We’re
						p Affixate is a trusted performance marketing company that connects advertisers with their targeted audience through our extensive publisher base.  We have a vast array of tools, resources, and years of knowledge backing us. Our expertise in the technical realm combined with our extensive knowledge of affiliate marketing allows us to achieve favorable results for both 
							a(href="#") Affiliates
							|  and 
							a(href="#") Advertisers
							| . We understand both sides of the house and our objective is to work closely with our clients to achieve one common goal - phenomenal success!
					.content-item
						h3 What We’re 
							span Doing
						p Affixate is a dedicated team that strives to provide quality and targeted traffic for our Advertisers. Our 
							a(href="#") services
							|  in display advertising, search engine marketing, mobile platforms, lead generation and e-mail marketing are available around the world and generate more than 5 million monthly conversions. We create the ideal conditions and is constantly evolving. Our Publishers  have many years experience and due to our technology, we help authors to increase conversion rate tens of times!
				section#better
					h3.better-header Why We're 
							span Better
					.better-grid
						.better-item
							img.better-item-icon(src="/images/better-icon-1.png")
							h4.better-item-header HIGHEST PAYOUT
							.better-item-text GUARANTEED
						.better-item
							img.better-item-icon(src="/images/better-icon-2.png")
							h4.better-item-header 100% DIRECT DEALS
							.better-item-text NO BROKERED OFFERS
						.better-item
							img.better-item-icon(src="/images/better-icon-3.png")
							h4.better-item-header increase conversions
							.better-item-text more than 10 times
						.better-item
							img.better-item-icon(src="/images/better-icon-4.png")
							h4.better-item-header advanced network
							.better-item-text publisher all over the world
						.better-item
							img.better-item-icon(src="/images/better-icon-5.png")
							h4.better-item-header Perfect support
							.better-item-text contact us 24/7
					.better-slogan-line-1 phenomenal results in the short term
					.better-slogan-line-2 we guarantee a solution for every customer
					.better-bg
		footer
			.container
				img.logo-bottom(src="/images/logo-bottom.png")
				nav.bottom-nav
					ul
						li: a(href="#") HOW IT WORKS 
						li: a(href="#") TERMS & CONDITIONS
						li: a(href="#") PRIVACY POLICY
				.footer-contact-header Contact with us:
				.footer-contact +7-832-415-6547 Sales@affixate.com
				a(href="#"): img.footer-icon-item(src="/images/icon-fb.png")
				a(href="#"): img.footer-icon-item(src="/images/icon-vk.png")
				a(href="#"): img.footer-icon-item(src="/images/icon-twitter.png")
				a(href="#"): img.footer-icon-item(src="/images/icon-rss.png")
				.copyright © 2015 Affixate. All Rights Reserved.